<nav>
  <div class="heading">
    <h2>IT Daily Log Book</h2>
  </div>
  <div class="navbar">
    <ul>
      <li>
        <a href="/"><i class="fa-solid fa-house"></i> Dashboard</a>
      </li>
      <li>
        <a href="/addlog"><i class="fa-solid fa-book-open"></i> Add Log</a>
      </li>
      <li>
        <a href="/logout"
          ><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a
        >
      </li>
    </ul>
  </div>
</nav>
