<nav>
  <div class="navbar">
    <div class="navbar_left">
      <a href="/home"><img src="/Logo.png" alt="" srcset="" /></a>
      <h1>IT Department Work Book</h1>
    </div>
    <div class="navbar_right">
      <ul>
        <li>
          <a href="/" title="Home"><i class="fa-solid fa-house"></i>Home</a>
        </li>
        <li>
          <a href="/logout" title="Logout"
            ><i class="fa-solid fa-right-from-bracket"></i>Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
