PORT="YOUR_PORT_NUMBER"
MY_SECRET_KEY="YOUR_SECRET_KEY"
DATABASE_URL="mysql://DATABASE_USER:DATABASE_PASSWORD@localhost:3306/YOUR_DATABASE_NAME"
JWT_SECRET_KEY="YOUR_JWT_SECRET_KEY"
HOSTNAME="http://localhost:YOUR_PORT_NUMBER"
EMAIL_ADDRESS="YOUR_EMAIL_ADDRESS"
EMAIL_PASS="YOUR_GMAIL_APP_PASSWORD"