<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Log | Form</title>
    <link rel="stylesheet" href="/style.css" />
    <script
      src="https://kit.fontawesome.com/bb7a749298.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="title"><span>Add Log</span></div>
      <form action="#" method="post">
        <div class="row">
          <p class="error">Incorrect Email or Password</p>
        </div>
        <div class="rows date-time">
          <div class="date">
            <label for="">Issue Date</label>
            <input type="date" name="issue-date" required />
          </div>
          <div class="time">
            <label for="">Issue Time</label>
            <input type="time" name="issue-time" required />
          </div>
        </div>
        <div class="rows">
          <label for="">Issue Location</label>
          <input type="text" name="issue-location" required />
        </div>
        <div class="rows">
          <label for="">Issue Description</label>
          <input type="text" name="issue-description" required />
        </div>
        <div class="rows">
          <label for="">Action Taken</label>
          <textarea name="action" rows="3" id="action"></textarea>
        </div>
        <div class="rows">
          <label for="">Status</label>
          <select name="status" id="status">
            <option value="">----- Select Status -----</option>
            <option value="solved">Solved</option>
            <option value="pending">Pending</option>
          </select>
        </div>
        <div class="row button">
          <input type="submit" value="Submit" />
        </div>
      </form>
    </div>
  </body>
</html>
