<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Log | Form</title>
    <link rel="stylesheet" href="/style.css" />
    <script
      src="https://kit.fontawesome.com/bb7a749298.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="title"><span>Add Log</span></div>
      <form id="myForm" action="/addlog" method="post">
        <% if(msg && msg.length > 0){ %>
          <div class="row">
            <p class="error"><%= msg %></p>
          </div>
          <%  } %>
        <div class="rows date-time">
          <div class="date">
            <label for="">Issue Date</label>
            <input type="date" name="date" id="date" required />
          </div>
          <div class="time">
            <label for="">Issue Time</label>
            <input type="time" name="time" id="time" required />
          </div>
        </div>
        <div class="rows">
          <label for="">Reported By</label>
          <input type="text" name="report" required />
        </div>
        <div class="rows">
          <label for="">Issue Location</label>
          <input type="text" name="location" required />
        </div>
        <div class="rows">
          <label for="">Issue Description</label>
          <input type="text" name="description" required />
        </div>
        <div class="rows">
          <label for="">Action Taken</label>
          <textarea name="action" rows="3" id="action"></textarea>
        </div>
        <div class="rows">
          <label for="">Status</label>
          <select name="status" id="status">
            <option value="">----- Select Status -----</option>
            <option value="Solved">Solved</option>
            <option value="Pending">Pending</option>
          </select>
        </div>
        <div class="row button">
          <input type="submit" value="Submit" />
        </div>
      </form>
    </div>
  </body>
  <script>
  const form = document.getElementById("myForm");

    form.addEventListener("submit", () => {
      setTimeout(() => {
        form.reset();
      }, 0);
    });

    const dateInput = document.getElementById('date');
    const today = new Date();

  // Format date as YYYY-MM-DD
  const yyyy = today.getFullYear();
  const mm = String(today.getMonth() + 1).padStart(2, '0'); // Months start at 0
  const dd = String(today.getDate()).padStart(2, '0');

  const formattedDate = `${yyyy}-${mm}-${dd}`;

  // Set as input value
  dateInput.value = formattedDate;

   const timeInput = document.getElementById('time');
  const hh = String(today.getHours()).padStart(2, '0');
  const min = String(today.getMinutes()).padStart(2, '0');
  timeInput.value = `${hh}:${min}`;

</script>
</html>
