<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forget | Form</title>
    <link rel="stylesheet" href="/style.css" />
    <script
      src="https://kit.fontawesome.com/bb7a749298.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="title"><span>Forget Password</span></div>
      <% if(formSubmitted){ %>
        <div class="msg">
          <p>If the email address you entered is valid, a password reset link has been sent to your registered email address. Please check your inbox and spam folder.</p>
        </div>
     <% } else{ %>
      <form action="/forget" method="post">
         <% if(msg && msg.length > 0){ %>
          <div class="row">
            <p class="error"><%= msg %></p>
          </div>
          <%  } %>
        <div class="row">
          <i class="fa-regular fa-envelope"></i>
          <input type="email" name="email" placeholder="Your Email Address" required />
        </div>
        <div class="row button">
          <input type="submit" value="Send" />
        </div>
      </form>
      <%
      } %>
    </div> 
  </body>
</html>
