<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IT Work Book</title>
    <link rel="stylesheet" href="/style.css" />
    <script
      src="https://kit.fontawesome.com/bb7a749298.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <div class="sidebar">
      <div class="sidebar_img">
        <img src="/Logo.png" alt="" srcset="" />
      </div>
      <ul>
        <li>
          <a href="/addlog" title="Add Log"
            ><i class="fa-solid fa-file-circle-plus"></i>Add Log</a
          >
        </li>
      </ul>
    </div>

    <div class="main"></div>
  </body>
</html>
