<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IT Work Book</title>
    <link rel="stylesheet" href="/style.css" />
    <script
      src="https://kit.fontawesome.com/bb7a749298.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('./partials/navbar') %>

    <div class="main">
      <div class="sub_main">
        <div class="company">
          <div class="name">
            <h1>Tiger Palace by Soaltee</h1>
            <p>Tilottama-15, Kotihawa</p>
          </div>
          <div class="logo">
            <img src="/Logo.png" alt="" />
          </div>
        </div>
        <div class="info">
          <p>Name : John Kathariya Tharu</p>
          <p>Date : 2025/03/14</p>
        </div>
        <div class="tbl">
          <table border="1">
            <tr style="background-color: #ab1d3f">
              <th style="width: 5%; text-align: center">S.N.</th>
              <th>Issue Location</th>
              <th>Problem</th>
              <th style="width: 60%">Action Taken</th>
              <th>Status</th>
            </tr>
            <tr>
              <td class="center">1</td>
              <td>Office</td>
              <td>Software Issue</td>
              <td>
                Software Issuesfsdfsg sfds sdfsf sdfsfs sdfsdfsv fgdfsdfs
                dfsfsdfs dfsfwesddf
              </td>
              <td>Solved</td>
            </tr>
            <tr>
              <td class="center">2</td>
              <td>Office</td>
              <td>Software Issue</td>
              <td>
                Software Issuesfsdfsg sfds sdfsf sdfsfs sdfsdfsv fgdfsdfs
                dfsfsdfs dfsfwesddf
              </td>
              <td>Solved</td>
            </tr>
            <tr>
              <td class="center">2</td>
              <td>Office</td>
              <td>Software Issue</td>
              <td>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae,
                ut animi in quos inventore perferendis? Iste facere eius
                possimus sint doloremque fugiat debitis dolore aut, et, enim
                quibusdam quia eum.
              </td>
              <td>
                <p
                  style="
                    color: white;
                    background-color: green;
                    border-radius: 20px;
                    padding: 2px 5px;
                    text-align: center;
                  "
                >
                  Solved
                </p>
              </td>
            </tr>
          </table>
          <p><i>Note : The above information is subject to change</i></p>
        </div>
        <hr />
        <div class="info">
          <p>Name : Manik Thapa</p>
          <p>Date : 2025/03/14</p>
        </div>
        <div class="tbl">
          <table border="1">
            <tr style="background-color: #ab1d3f">
              <th style="width: 5%; text-align: center">S.N.</th>
              <th>Issue Location</th>
              <th>Problem</th>
              <th>Action Taken</th>
              <th>Status</th>
            </tr>
            <tr>
              <td class="center">1</td>
              <td>Office</td>
              <td>Software Issue</td>
              <td>
                Software Issuesfsdfsg sfds sdfsf sdfsfs sdfsdfsv fgdfsdfs
                dfsfsdfs dfsfwesddf
              </td>
              <td>Solved</td>
            </tr>
            <tr>
              <td class="center">2</td>
              <td>Office</td>
              <td>Software Issue</td>
              <td>
                Software Issuesfsdfsg sfds sdfsf sdfsfs sdfsdfsv fgdfsdfs
                dfsfsdfs dfsfwesddf
              </td>
              <td>Solved</td>
            </tr>
          </table>
          <p>Note : The above information is subject to change</p>
        </div>
        <hr />
        <div class="info">
          <p>Name : Gowin Sir</p>
          <p>Date : 2025/03/14</p>
        </div>
        <div class="tbl">
          <table border="1">
            <tr style="background-color: #ab1d3f">
              <th style="width: 5%; text-align: center">S.N.</th>
              <th>Issue Location</th>
              <th>Problem</th>
              <th>Action Taken</th>
              <th>Status</th>
            </tr>
            <tr>
              <td class="center">1</td>
              <td>Office</td>
              <td>Software Issue</td>
              <td>
                Software Issuesfsdfsg sfds sdfsf sdfsfs sdfsdfsv fgdfsdfs
                dfsfsdfs dfsfwesddf
              </td>
              <td>Solved</td>
            </tr>
            <tr>
              <td class="center">2</td>
              <td>Office</td>
              <td>Software Issue</td>
              <td>
                Software Issuesfsdfsg sfds sdfsf sdfsfs sdfsdfsv fgdfsdfs
                dfsfsdfs dfsfwesddf
              </td>
              <td>Solved</td>
            </tr>
          </table>
          <p>Note : The above information is subject to change</p>
        </div>
      </div>
    </div>
  </body>
</html>
