<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | Form</title>
    <link rel="stylesheet" href="/style.css" />
    <script
      src="https://kit.fontawesome.com/bb7a749298.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <div class="title"><span>Login</span></div>
        <form action="/login" method="post">
          <% if(msg && msg.length > 0){ %>
          <div class="row">
            <p class="error"><%= msg %></p>
          </div>
          <%  } %>
          <div class="row">
            <i class="fa-regular fa-envelope"></i>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Email Address"
              required
            />
          </div>
          <div class="row">
            <i class="fas fa-lock"></i>
            <input
              type="password"
              name="pass"
              id="pass"
              placeholder="Password"
              required
            />
            <i class="fa-solid fa-eye open"></i>
          </div>
          <div class="pass"><a href="/forget">Forgot Password?</a></div>
          <div class="row button">
            <input type="submit" value="Login" />
          </div>
          <div class="signup-link">
            Not a member? <a href="/signup">Signup Now</a>
          </div>
        </form>
      </div>
    </div>
  </body>
  <script>
    window.addEventListener("pageshow", function (event) {
      if (event.persisted) {
        window.location.reload();
      }
    });
    const eye = document.querySelector(".fa-eye");
    const password = document.querySelector("input[type=password]");
    eye.addEventListener("click", () => {
      if (password.type === "password") {
        password.type = "text";
        eye.classList.remove("fa-eye");
        eye.classList.add("fa-eye-slash");
      } else {
        password.type = "password";
        eye.classList.remove("fa-eye-slash");
        eye.classList.add("fa-eye");
      }
    });
  </script>
</html>
