<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IT Work Book</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="login_box">
        <div class="login_box_left">
          <img src="/login.png" alt="" />
        </div>
        <div class="login_box_right">
          <h2>Login</h2>
          <form action="/login" method="POST">
            <input type="text" placeholder="Email" name="email" />
            <input type="password" placeholder="Password" name="password" />
            <button type="submit">Sign In</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
