<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard | Log Book</title>
    <link rel="stylesheet" href="/dashboard.css" />
    <script
      src="https://kit.fontawesome.com/bb7a749298.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="container">
      <div class="profile">
        <div class="info">
          <div class="profile-pic">
            <img src="/profile.svg" alt="" />
          </div>
          <div class="profile-info">
            <h1>John Tharu</h1>
            <p>john@gmail.com</p>
            <p>Account CreatedAt : 2023</p>
          </div>
        </div>
        <div class="verify-part">
          <div class="verify">
            <p>Email Verification : Not verified</p>
            <button>Verify Now</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
