<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Total Log | Log Book</title>
    <link rel="stylesheet" href="/dashboard.css" />
    <script
      src="https://kit.fontawesome.com/bb7a749298.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="container">
      <div class="dashboard">
        <div class="dashboard-heading">
          <div class="logos">
            <i class="fa-brands fa-dailymotion"></i>
            <h1>Daily Log Book</h1>
          </div>
          <p>Track your daily logs and events</p>
        </div>
        <div class="dashboard-btn">
          <a href="/addlog"
            ><button><i class="fa-solid fa-plus"></i> Add Log</button></a
          >
        </div>
      </div>
      <div class="log-info">
        <i class="fa-solid fa-book-open">
          <h2>Total Logs</h2>
        </i>
        <div class="log">
          <div class="log-name">
            <h3>Printer Jam</h3>
            <p>John . 2025-14-12</p>
          </div>
          <div class="log-btn">
            <a href="#"><button>View</button></a>
          </div>
        </div>
        <div class="log">
          <div class="log-name">
            <h3>Printer Jam</h3>
            <p>John . 2025-14-12</p>
          </div>
          <div class="log-btn">
            <a href="#"><button>View</button></a>
          </div>
        </div>
        <div class="log">
          <div class="log-name">
            <h3>Printer Jam</h3>
            <p>John . 2025-14-12</p>
          </div>
          <div class="log-btn">
            <a href="#"><button>View</button></a>
          </div>
        </div>
        <div class="log">
          <div class="log-name">
            <h3>Printer Jam</h3>
            <p>John . 2025-14-12</p>
          </div>
          <div class="log-btn">
            <a href="#"><button>View</button></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
