@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: grid;
  height: 100vh;
  place-items: center;
  background: #f2f2f2;
}
.container {
  display: grid;
  place-items: center;
  width: 100%;
}
.wrapper {
  min-width: 25%;
  background: #fff;
  border-radius: 5px;
}
.wrapper .title {
  line-height: 80px;
  background: #16a085;
  padding-left: 20px;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}
.wrapper form {
  padding: 30px 25px 25px 25px;
}
.wrapper form .row {
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}
.wrapper form .row .error {
  background-color: #f8d7da;
  padding: 10px;
  border-left: 5px solid red;
  border-radius: 5px;
}
.wrapper form .row input {
  height: 100%;
  width: 100%;
  padding-left: 60px;
  outline: none;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 14px;
}
.wrapper form .row i {
  position: absolute;
  width: 47px;
  height: 100%;
  background: #16a085;
  border: 1px solid #16a085;
  display: flex;
  align-items: center;
  border-radius: 5px 0 0 5px;
  justify-content: center;
  color: #fff;
  font-size: 18px;
}
.wrapper form .row .open,
.wrapper form .row .cpass,
.wrapper form .row .opass {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  color: #16a085;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
.wrapper form .button input {
  padding-left: 0px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  background: #16a085;
  border: 1px solid #16a085;
  transition: all 0.3s ease;
}
.wrapper form .button input:hover {
  background: #12876f;
}
.wrapper form .pass {
  text-align: right;
  margin-bottom: 15px;
}
.wrapper form .pass a {
  color: #16a085;
  text-decoration: none;
}
.wrapper form .pass a:hover {
  text-decoration: underline;
}
.wrapper form .signup-link {
  text-align: center;
  margin-top: 20px;
}
.wrapper form .signup-link a {
  color: #16a085;
  text-decoration: none;
}
.wrapper form .signup-link a:hover {
  text-decoration: underline;
}
.wrapper form .rows {
  margin-bottom: 10px;
}
.wrapper form .rows input,
.wrapper form .rows select,
.wrapper form .rows textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 14px;
  outline: none;
}
.wrapper form .date-time {
  display: flex;
  justify-content: space-between;
}
.wrapper form .date-time .date {
  width: 50%;
}
.msg {
  margin: 10px auto;
  width: 38vw;
  padding: 20px;
}
.file-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.file-wrapper button {
  background: #16a085;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
}
.avatar-upload {
  margin: 10px 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}
.avatar-upload img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#fileName {
  display: inline-block;
  max-width: 250px; /* adjust based on your layout */
  overflow: hidden;
  word-break: break-word;
  white-space: nowrap;
}
@media only screen and (max-width: 600px) {
  .wrapper {
    width: 90%;
    margin: 40px 0;
  }
  .wrapper form .date-time {
    flex-direction: column;
  }
  .wrapper form .date-time .date {
    width: 100%;
  }
  .msg {
    width: 80vw;
  }
}
