@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.login_box_left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_box_left img {
  width: 300px;
  height: 300px;
}
.login_box_right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login_box_right h1 {
  font-size: 50px;
  margin-bottom: 20px;
}
.login_box_right h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.login_box_right form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login_box_right form input {
  width: 300px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
}
.login_box_right button {
  width: 300px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}
.login_box_right button:hover {
  background-color: #ccc;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 5px 20px;
}
.navbar_left {
  display: flex;
  align-items: center;
}
.navbar_left img {
  width: 5rem;
}
.navbar_right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.navbar_right ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.navbar_right ul li {
  margin-right: 20px;
}
.navbar_right ul li a {
  display: flex;
  gap: 5px;
  align-items: center;
  text-decoration: none;
  color: rgb(156, 103, 5);
  font-size: 1rem;
}
.navbar_right ul li a:hover {
  color: crimson;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.sidebar_img {
  text-align: center;
  margin-bottom: 20px;
}
.sidebar_img img {
  width: 10rem;
}
.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar ul li {
  margin-bottom: 10px;
}
.sidebar ul li a {
  display: flex;
  gap: 5px;
  align-items: center;
  text-decoration: none;
  color: rgb(156, 103, 5);
  font-size: 1rem;
}
.sidebar ul li a:hover {
  color: crimson;
}
.main {
  margin-left: 200px;
  padding: 20px;
}
