@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_box {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.login_box_left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_box_left img {
  width: 300px;
  height: 300px;
}
.login_box_right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login_box_right h1 {
  font-size: 50px;
  margin-bottom: 20px;
}
.login_box_right h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.login_box_right form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login_box_right form input {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
}
.login_box_right button {
  width: 300px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}
.login_box_right button:hover {
  background-color: #ccc;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 5px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar_left {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(156, 103, 5);
}
.navbar_left img {
  width: 6rem;
}
.navbar_right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.navbar_right ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.navbar_right ul li {
  margin-right: 20px;
}
.navbar_right ul li a {
  display: flex;
  gap: 5px;
  align-items: center;
  text-decoration: none;
  color: rgb(156, 103, 5);
  font-size: 1rem;
}
.navbar_right ul li a:hover {
  color: crimson;
}
.main {
  width: 100%;
  margin-top: 6vh;
  display: flex;
  justify-content: center;
}
.sub_main {
  width: 60%;

  margin: 20px 0;
  padding: 20px;
}
.main_tools {
  width: 100%;
  text-align: right;
  margin-bottom: 20px;
}
.search input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  outline: none;
}
.search button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}
.search button:hover {
  background-color: #ccc;
}
.heading {
  text-align: center;
  margin: 20px 0;
}
.company {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.company .logo img {
  width: 150px;
  height: 100px;
}
.name h1 {
  font-size: 3rem;
  color: #ed7a23;
}
.name p {
  font-size: 1rem;
  color: grey;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info p {
  font-weight: 600;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 5px 0;
}
td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}
th {
  color: whitesmoke;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
.center {
  text-align: center;
}
hr {
  margin: 10px 0;
  border: 1px solid #ccc;
}
.complain_box {
  width: 100%;
  display: flex;
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.complain_box_left img {
  width: 100%;
}
.complain_box_left {
  width: 50%;
}
.complain_box_right {
  width: 50%;
  padding: 0 40px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  outline: none;
}
textarea {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  outline: none;
}
select {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  outline: none;
}
